/* 40-4 Toggle State Based On Click And Conditional Rending */

.countries_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.flag_container img{
    width: 150px;
    height: 100px;
    padding: 15px;
   
}